@import url('https://fonts.googleapis.com/css?family=Poppins'); 

:root{

    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0. 5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0.1);
    --outline:.1rem solid rgba(0,0,0.1);


}

*{
     font-family:'poppins' , sans-serif ;
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
     text-transform: capitalize;
     transition: .2s linear;
}

body{
    background-color: #eee;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
/* Code for buttons*/
.btn{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--green);
    color: #fff;
}
/* Code for header*/
.header{
    border: 0px solid;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4%;
    background: #fff;
    box-shadow: var(--box-shadow);
}


/*Code for logo font & size*/
.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color:black;
    text-decoration: none;
}

/* Code for logo icon color*/
.header .logo i {
    color:var(--green);

}
/* Code for navigation bar anker tag*/
.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
    text-decoration: none;

}
/* Code for navigation once we hold cursor on navigation attributes color will change*/

.header .navbar a:hover{

    color: var(--green);
}

.header .icons div{

    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin: .3rem;
    text-align: center;
    cursor: pointer;

}

.header .icons div:hover{
    background-color: var(--green);
    color: white;
}
/* this is menu button code in navination bar. this button we are hiding in desktop view. this only visible in mobile view.*/

#menu-btn{
    display: none;

}
.header .navbar.active{
    right: 2rem;
    transition: 4s linear;
}


.header .search-form {
    border: 0px solid #090909;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active
{
    right: 2rem;
    transform: .4s linear;
}

body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #effae5 !important;
    }


.header .search-form input{
    height: 100%; 
    width: 100%;
    background: none;
    text-transform:none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form lable{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form lable:hover{
    color: var(--green);
}
/* code for Shopping Cart*/

.header .shopping-cart
{
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}
.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover{
    color: var(--green);
}

.header .shopping-cart .box .content h3{

    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;

}

.header .shopping-cart .box .content span{

    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}


.login-form{
   /* border-shadow: var(--light-color);*/
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    box-shadow: var(--black);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
    font-size: 2rem;
}
.header .login-form h3{
    font-size: 2rem;
}
label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
    font-size: 2rem;
}
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}

 .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
}.header .login-form p{
    font-size: 1.5rem;
    
}
.header .login-form.active{
    right: 2rem;
    transition: .4s linear;

}

.home{
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(../IMAGE/banner\ 1.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17%;
    padding-bottom: 10%;
    transition: 8;
}
.home .content{
    border: 0px solid;
    text-align: center;
    width: 60rem;
}
.home .content h3{
    color: rgb(245, 226, 226);
    font-size: 7rem;
    padding-top: 10;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.home .content p{
    font-size: 2rem;
    font-style: italic;
    color: antiquewhite;
    left:2rem;
}







/*features*/
.features .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    

}
.features .box-container .box{
    border: 0px solid red;
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;

}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding-bottom: 1rem 0;
}
/*features*/


/*product section*/

.products .product-slider{
    border: 0px solid;
    padding: 1rem;
}

.products .product-slider :first-child{
   margin-bottom: 2rem;
}

.products .product-slider .box{
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;

}

.products .product-slider .box:hover{

    box-shadow: 1px 1px 10px 4px var(--green);
}

.products .product-slider .box img{
    height: 20rem;
}

.products .product-slider .box h1{
    font-size: 2.5rem;
    color: var(--black);
}
.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}
/*product section*/

/*categories*/
.categories .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
    

}

.categories .box-container .box{
    padding: 3rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}
.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* Customer review section*/
.review .review-slider{
    border: 0px solid;
    padding: 1rem;
}

.review .review-slider .box{
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;

}

.review .review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;

}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}


.review .review-slider .box .stars{
    color: orange;
    font-size: 1.7rem;
}
/* Customer review section*/
/* our blog section*/


.blogs .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
  
    padding: 2rem;
}

.blogs .box-container .box .content .icons{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
   
}

.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover {
    color: var(--black);

}

.blogs .box-container .box .content .icons a i{
    color: green;
    padding-right: .5rem;
}

.blogs .box-container .box .content h3{
    line-height: 1.8rem;
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 3rem;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;

}

/* our blog section*/

/* css footer section*/
.footer{
    background: #fff;
}

.footer .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
    
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;

}

.footer .box-container .box h3 i{
    color: var(--green);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;

}

.footer .box-container .box .links i{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p{
    line-height: 2.5rem;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;

}

.footer .box-container .box .Social a {
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}


.footer .box-container .box .Social a:hover{
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 5rem;
    font-size: 7rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color: brown;
}
/* css footer section*/

















/* Code for media query. media query is used for responsive website creation.*/

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1rem;
    }

    section{

        padding: 2rem ;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: .5rem;
    }
}
@media (max-width: 768px)
{
#menu-btn
{
    display: inline-block;
}
.header .search-form
{
    width: 90%;


}
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}
/* css code for banner*/

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0%;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);

}
.heading span {
    background-color: rgb(253, 154, 154);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.box-container .box{
    box-sizing: 2rem;
    box-shadow: #130f40;
    shape-image-threshold: var(--green);
}




.banner {
  position: relative;
  height: 500px;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.banner-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #fff;
}

.banner-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner-text p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}













